*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
}
.parent_div{
  width: 90%;
  margin: auto;
}
.board-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  overflow-x: auto;
  padding: 16px;
  flex-wrap: wrap;
  gap: 20px;
}
.board_header{
  text-align: center;
}
.column-wrapper {
  width: 48%;    
  display: flex;
  flex-direction: column;
  max-height: 100%;    
}

.column {
  background-color: #f4f5f7;
  width: 95%;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.column-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  padding: 8px;
  margin: 8px 0;
  background: #f4f4f4;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  cursor: pointer;
}

input {
  padding: 6px;
  margin-top: 8px;
  width: 100%;
  box-sizing: border-box;
}
.btn_edit{
  padding: 1px 8px;
  margin-right: 10px;
}
.item_delete_btn{
  padding: 2px;
}
.description_div{
  display: flex;
  
}
#description{
  font-size: 13px;
  padding-top: 3px;
  padding-right: 5px;
}
.add_img{
  width: 20px;
}
.input_add_div{
  display: flex;
}